body {
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

@media (min-width: 768px) {
  .navbar {
    padding: 1rem;
  }
}

.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Indie Flower", sans-serif;
  font-size: 3rem;
}

.section--xl {
  padding: 2.5rem 0;
}

@media (min-width: 768px) {
  .section--xl {
    padding: 5rem 0;
  }
}
